@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9682 0.0102 131.3581);
  --foreground: oklch(0.3472 0.0330 79.6024);
  --card: oklch(0.8220 0.0478 115.3618);
  --card-foreground: var(--foreground);
  --popover: oklch(0.5133 0.0100 67.6019);
  --popover-foreground: var(--foreground);
  --primary: oklch(0.5254 0.1498 38.4771);
  --primary-foreground: oklch(0.8484 0.0793 79.6299);
  --secondary: oklch(0.5211 0.0632 107.2756);
  --secondary-foreground: oklch(0.9785 0.0310 92.9368);
  --muted: oklch(0.9746 0.0130 41.2038);
  --muted-foreground: oklch(0.5228 0.0509 59.7758);
  --accent: oklch(0.9550 0.0300 38.5000);
  --accent-foreground: oklch(0.3550 0.0700 38.5000);
  --destructive: oklch(0.5254 0.1498 38.4771);
  --destructive-foreground: oklch(0.5511 0.1374 52.3400);
  --border: oklch(0.5211 0.0632 107.2756);
  --input: oklch(0.5211 0.0632 107.2756);
  --ring: oklch(0.5211 0.0632 107.2756);
  --chart-1: oklch(0.5254 0.1498 38.4771);
  --chart-2: oklch(0.6732 0.1290 29.6823);
  --chart-3: oklch(0.6099 0.0754 62.1488);
  --chart-4: oklch(0.8485 0.0869 41.8282);
  --chart-5: oklch(0.5228 0.0509 59.7758);
  --sidebar: oklch(0.7149 0.0328 125.3827);
  --sidebar-foreground: oklch(0.3472 0.0330 79.6024);
  --sidebar-primary: oklch(0.5254 0.1498 38.4771);
  --sidebar-primary-foreground: oklch(0.9586 0.0272 63.9587);
  --sidebar-accent: oklch(0.8740 0.0370 131.2153);
  --sidebar-accent-foreground: oklch(0.3472 0.0330 79.6024);
  --sidebar-border: oklch(0.8485 0.0869 41.8282);
  --sidebar-ring: oklch(0.5211 0.0632 107.2756);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2324 0.0077 118.4092);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.3387 0.0204 115.1861);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2103 0.0059 285.8852);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.5254 0.1498 38.4771);
  --primary-foreground: oklch(0.8484 0.0793 79.6299);
  --secondary: oklch(0.5211 0.0632 107.2756);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.265 0.009 120);
  --muted-foreground: oklch(0.675 0.015 120);
  --accent: oklch(0.2739 0.0055 286.0326);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.7022 0.1892 22.2279);
  --destructive-foreground: oklch(0.9850 0 0);
  --border: oklch(0.5165 0.0639 112.8737);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.5165 0.0639 112.8737);
  --chart-1: oklch(0.5254 0.1498 38.4771);
  --chart-2: oklch(0.6732 0.1290 29.6823);
  --chart-3: oklch(0.6099 0.0754 62.1488);
  --chart-4: oklch(0.8485 0.0869 41.8282);
  --chart-5: oklch(0.5228 0.0509 59.7758);
  --sidebar: oklch(0.3196 0.0128 126.0906);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.2507 0.0384 20.1324);
  --sidebar-primary-foreground: oklch(0.3935 0.0957 152.2754);
  --sidebar-accent: oklch(0.2324 0.0077 118.4092);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(1.0000 0 0);
  --sidebar-ring: oklch(0.5165 0.0639 112.8737);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}